*{
    margin: 0;
    padding: 0;
}
#milsec ,#sec, #min{
    width: 40px;
}
body{
    background-color:#101652;
}
.timer{
    margin: 50px auto;
    padding: 150px;
    width: 200px;
    color: white;
    border: 1px solid white;
    border-radius: 200px;    
    font-family:'Roboto', sans-serif;

}
button{
    background-color:#D64235;
    color: white;
    border: none;
    margin: 0 10px;
    padding: 20px 40px;
    border-radius: 50px;
    font-family:'Roboto', sans-serif;
    font-size: 20pt;
}
#milsec{
    font-size: 10pt;
    margin-top: 15px;
    padding: 0 10px;
}
#sec, #min{
    /* font-size: 35pt; */
    padding: 0 10px;
}
button:disabled{
    background-color:#973127;
    transition: 300ms;
}
button:hover{
    background-color:#b3372c;
    transition: 300ms;
}